nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand-container {
    .brand {
      img {
        height: 100%;
      }
    }
    .toggle-container {
      display: none;
      .mode {
        cursor: pointer;
        .dark {
          color: black;
        }
        .light {
          color: yellow;
        }
      }
    }
  }
  .links-container {
    .links {
      list-style: none;
      display: flex;
      gap: 4rem;

      li {
        cursor: pointer;
        a {
          text-decoration: none;
          color: var(--accent-color1);
        }

        .dark {
          color: black;
        }
        .light {
          color: yellow;
        }
      }
    }
  }
}

[data-theme="light"] {
  nav {
    .brand-container {
      .brand {
        img {
          filter: brightness(0);
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  nav {
    position: relative;
    padding: 2rem;

    .brand-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .brand {
        img {
          height: 1.5rem;
        }
      }
      .toggle-container {
        display: block;
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        color: var(--accent-color1);
        z-index: 40;
      }
    }

    .links-container {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 30;
      transition: 0.5s ease-in-out;
      background-image: linear-gradient(101deg, var(--pink), var(--orange));
      .links {
        flex-direction: column;
        li:last-of-type {
          display: none;
        }
      }
    }

    .nav-visible {
      width: 60vw;
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  nav {
    padding: 1rem 2rem;

    .links-container {
      .links {
        gap: 2rem;

        li {
          font-size: 14px;
        }
      }
    }
  }
}
