.clients {
  padding: 6rem 0;
  .container {
    .clients-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      .client {
        flex: 1;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .clients {
    padding: 4rem 0;
    .container {
      .clients-container {
        flex-direction: column;
        flex-wrap: nowrap;
        .client {
          flex: 1;
          padding: 1rem;
          padding-left: 5rem;
          align-self: flex-start;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .clients {
    .container {
      .clients-container {
        justify-content: center;
        .client {
          flex: 0;
          width: 33%;
          padding: 1rem;
        }
      }
    }
  }
}
