.home {
  margin-top: 6rem;
  .container {
    display: flex;
    font-size: 1.5rem;
    .left,
    .right {
      flex: 1;
    }

    .left {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;

      .sub-title {
        color: var(--pink);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }

      .title {
        color: var(--accent-color1);
      }

      .description {
        color: var(--accent-color3);
      }

      button {
        font-size: 14px;
        color: var(--accent-color1);
        background-color: var(--background);
        padding: 1rem 3rem;
        font-weight: bold;
        border-radius: 2rem;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--pink), var(--orange));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          box-shadow: none;
        }
      }
    }

    .right {
      text-align: center;
      position: relative;
      z-index: 10;

      .image {
        height: 90%;

        img {
          width: auto;
          max-height: 100%;
        }
      }

      .ellipse-container {
        .ellipse {
          z-index: -1;
          position: absolute;
          height: 15rem;
          width: 15rem;
          filter: blur(100px);
        }

        .pink {
          background-color: var(--pink);
          top: 40%;
          right: 40%;
        }

        .orange {
          background-color: var(--orange);
          bottom: 40%;
          left: 40%;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .home {
    margin-top: 1rem;
    .container {
      flex-direction: column;
      font-size: 14px;

      .left {
        padding: 2rem;
        margin-top: 0;

        button {
          font-size: 12px;
          color: var(--accent-color1);
          background-color: var(--background);
          padding: 0.5rem 1rem;
          font-weight: bold;
          border-radius: 2rem;
          border: solid 2px transparent;
          background-image: linear-gradient(
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0)
            ),
            linear-gradient(101deg, var(--pink), var(--orange));
          background-origin: border-box;
          background-clip: content-box, border-box;
          box-shadow: 2px 1000px 1px var(--background) inset;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            box-shadow: none;
          }
        }
      }

      .right {
        .image {
          height: 50%;

          img {
            width: 50%;
            max-height: 100%;
          }
        }

        .ellipse-container {
          .ellipse {
            height: 8rem;
            width: 8rem;
            filter: blur(70px);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home {
    margin-top: 3rem;
    .container {
      font-size: 1rem;
      .left,
      .right {
        padding: 0 2rem;
      }

      .left {
        margin-top: 2rem;
        .title {
          font-size: 1.5rem;
        }
      }

      .right {
        .image {
          height: 70%;

          img {
            width: auto;
            max-height: 100%;
          }
        }

        .ellipse-container {
          .ellipse {
            height: 8rem;
            width: 8rem;
          }

          .pink {
            top: 50%;
            right: 50%;
          }

          .orange {
            bottom: 50%;
            left: 50%;
          }
        }
      }
    }
  }
}
